@import "../../../app/style/colors.scss";

.flex-timer{
    display: flex;
    justify-content: space-between;
    width: calc(100% - 32px);
    max-width: 360px;
    margin: 30px 16px;
    .timer-element{
        background-color: $timerBackground;
        width: 94px;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        
    }
    .timer-element-wrapper{
        p{
            margin-top: 10px;
        }
    }
    .double-dots{
        line-height: 200%;
    }
}