@import "../../../../app/style/colors.scss";

.pay-window {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  border-radius: 10px;
  padding: 30px 20px;
  max-width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  .title16-regular-outfit {
    margin-bottom: 24px;
  }
  .default-input {
    margin-bottom: 54px;
    position: relative;
  }
  .default-input::after {
    position: absolute;
    width: 100%;
    content: "";
    background-color: $grayLight;
    opacity: 1;
    height: 1px;
    left: 0;
    bottom: -15px;
  }
  svg {
    margin-bottom: 30px;
  }
  .pay-window-block {
    width: 343px;
    max-width: 100%;
  }
}
