@import "../../../../app//style/colors.scss";

.info-blocks-v3 {
  .title24-medium-urbanist {
    margin-bottom: 20px;
    color: $white;
  }
  .insight-wrapper-block + .insight-wrapper-block {
    margin-top: 20px;
  }
}
