@import "./style/colors.scss";

.Main-Wrapper {
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0px;
  box-sizing: border-box;
}
html {
  background-color: $backgroundPurple;
}
.flex-box{
  height: 100%;
  display: flex;
  flex-direction: column;
  .news-aricle-page {
    flex: 1;
  }
  .news-page{
    flex: 1;
  }
  .account-information-page{
    flex: 1;
  }
}

a{
  text-decoration: none;
  color: $black;
}