@import "../../../../app//style/colors.scss";

.info-blocks-v2 {
  .title24-medium-urbanist {
    margin-bottom: 20px;
    color: $white;
  }
  .title24-bold-urbanist {
    margin-bottom: 20px;

  }
  .insight-wrapper-block + .insight-wrapper-block {
    margin-top: 20px;
  }
}
