@import "../../../app/style/colors.scss";

.pay-window{
    background-color: $white;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    .title16-regular-outfit{
        margin-bottom: 24px;
    }
    .default-input{
        margin-bottom: 54px;
        position: relative;
    }
    .default-input::after{
        position: absolute;
        width: 100%;
        content: "";
        background-color: $grayLight;
        opacity: 1;
        height: 1px;
        left: 0;
        bottom: -15px;
    }
    svg{
        margin-bottom: 30px;
    }
}